In [1]:
import pandas as pd
import numpy as np
import random
pd.set_option("display.max_rows",100)

In [2]:
#jupyter kernelspec uninstall myenv -> to uninstall virtual env

In [3]:
modelname = ['i10','i20','selerio','selerio','selerio','swift','i20','i10','i10','i10','i10','i20','selerio']*6

In [4]:
len(modelname)

78

In [5]:
variamt = ['sports','sport+','vdi','vxi','vxi','base','era','sports','sports','base','base','era+','vd']*6
len(variamt)

78

In [6]:
owner = [1,2,2,1,2,1,2,1,2,1,2,1,2]*6
len(owner)

78

In [7]:
meter = np.random.randint(50000,100000,78)
len(meter)

78

In [8]:
state = ['Delhi','haryana','haryana','mumbai','surat','mumbai','surat','haryana','mumbai','surat','Delhi','haryana','haryana']*6
len(state)

78

In [9]:
df = pd.DataFrame({'modelname':modelname,'variamt':variamt,'owner':owner,'meter':meter,'state':state})
df

   modelname variamt  owner  meter    state
0        i10  sports      1  92509    Delhi
1        i20  sport+      2  56066  haryana
2    selerio     vdi      2  88354  haryana
3    selerio     vxi      1  60513   mumbai
4    selerio     vxi      2  85054    surat
5      swift    base      1  66890   mumbai
6        i20     era      2  59039    surat
7        i10  sports      1  86930  haryana
8        i10  sports      2  81643   mumbai
9        i10    base      1  64142    surat
10       i10    base      2  58876    Delhi
11       i20    era+      1  95034  haryana
12   selerio      vd      2  69294  haryana
13       i10  sports      1  55871    Delhi
14       i20  sport+      2  76374  haryana
15   selerio     vdi      2  61268  haryana
16   selerio     vxi      1  84934   mumbai
17   selerio     vxi      2  99752    surat
18     swift    base      1  90476   mumbai
19       i20     era      2  65144    surat
20       i10  sports      1  74101  haryana
21       i10  sports      2  85860   mumbai
22       i10    base      1  90772    surat
23       i10    base      2  99926    Delhi
24       i20    era+      1  84898  haryana
25   selerio      vd      2  51268  haryana
26       i10  sports      1  68081    Delhi
27       i20  sport+      2  54339  haryana
28   selerio     vdi      2  90950  haryana
29   selerio     vxi      1  65259   mumbai
30   selerio     vxi      2  58933    surat
31     swift    base      1  56701   mumbai
32       i20     era      2  51647    surat
33       i10  sports      1  90836  haryana
34       i10  sports      2  71743   mumbai
35       i10    base      1  90872    surat
36       i10    base      2  50852    Delhi
37       i20    era+      1  91773  haryana
38   selerio      vd      2  89201  haryana
39       i10  sports      1  98432    Delhi
40       i20  sport+      2  92511  haryana
41   selerio     vdi      2  90692  haryana
42   selerio     vxi      1  55720   mumbai
43   selerio     vxi      2  78574    surat
44     swift    base      1  85007   mumbai
45       i20     era      2  58734    surat
46       i10  sports      1  55584  haryana
47       i10  sports      2  97883   mumbai
48       i10    base      1  86738    surat
49       i10    base      2  57535    Delhi
50       i20    era+      1  54061  haryana
51   selerio      vd      2  75939  haryana
52       i10  sports      1  54781    Delhi
53       i20  sport+      2  90255  haryana
54   selerio     vdi      2  67867  haryana
55   selerio     vxi      1  58318   mumbai
56   selerio     vxi      2  75736    surat
57     swift    base      1  67668   mumbai
58       i20     era      2  90974    surat
59       i10  sports      1  98156  haryana
60       i10  sports      2  70007   mumbai
61       i10    base      1  65634    surat
62       i10    base      2  56975    Delhi
63       i20    era+      1  89439  haryana
64   selerio      vd      2  54510  haryana
65       i10  sports      1  54184    Delhi
66       i20  sport+      2  55365  haryana
67   selerio     vdi      2  60194  haryana
68   selerio     vxi      1  56410   mumbai
69   selerio     vxi      2  63199    surat
70     swift    base      1  70422   mumbai
71       i20     era      2  63097    surat
72       i10  sports      1  62170  haryana
73       i10  sports      2  55907   mumbai
74       i10    base      1  66819    surat
75       i10    base      2  61027    Delhi
76       i20    era+      1  52390  haryana
77   selerio      vd      2  52188  haryana

In [10]:
df[['modelname','variamt']].value_counts()

modelname  variamt
i10        sports     18
           base       12
selerio    vxi        12
i20        era         6
           era+        6
           sport+      6
selerio    vd          6
           vdi         6
swift      base        6
dtype: int64

In [11]:
df.groupby('modelname').count()

           variamt  owner  meter  state
modelname
i10             30     30     30     30
i20             18     18     18     18
selerio         24     24     24     24
swift            6      6      6      6

In [12]:
df.groupby(['modelname','variamt'])['state'].count()

modelname  variamt
i10        base       12
           sports     18
i20        era         6
           era+        6
           sport+      6
selerio    vd          6
           vdi         6
           vxi        12
swift      base        6
Name: state, dtype: int64

In [13]:
df.groupby(['modelname','variamt'])['state'].count().reset_index()

  modelname variamt  state
0       i10    base     12
1       i10  sports     18
2       i20     era      6
3       i20    era+      6
4       i20  sport+      6
5   selerio      vd      6
6   selerio     vdi      6
7   selerio     vxi     12
8     swift    base      6

In [14]:
df.groupby(['modelname','variamt'])['meter'].mean()

modelname  variamt
i10        base       70847.333333
           sports     75259.888889
i20        era        64772.500000
           era+       77932.500000
           sport+     70818.333333
selerio    vd         65400.000000
           vdi        76554.166667
           vxi        70200.166667
swift      base       72860.666667
Name: meter, dtype: float64

In [15]:
df[(df.modelname == 'i10') & (df.variamt == 'base')]

   modelname variamt  owner  meter  state
9        i10    base      1  64142  surat
10       i10    base      2  58876  Delhi
22       i10    base      1  90772  surat
23       i10    base      2  99926  Delhi
35       i10    base      1  90872  surat
36       i10    base      2  50852  Delhi
48       i10    base      1  86738  surat
49       i10    base      2  57535  Delhi
61       i10    base      1  65634  surat
62       i10    base      2  56975  Delhi
74       i10    base      1  66819  surat
75       i10    base      2  61027  Delhi

In [16]:
(89609+54942+61351+93933+68456+88416)/6

76117.83333333333

In [17]:
df.groupby(['modelname','variamt','state'])['meter'].mean()

modelname  variamt  state
i10        base     Delhi      64198.500000
                    surat      77496.166667
           sports   Delhi      70643.000000
                    haryana    77962.833333
                    mumbai     77173.833333
i20        era      surat      64772.500000
           era+     haryana    77932.500000
           sport+   haryana    70818.333333
selerio    vd       haryana    65400.000000
           vdi      haryana    76554.166667
           vxi      mumbai     63525.666667
                    surat      76874.666667
swift      base     mumbai     72860.666667
Name: meter, dtype: float64

In [18]:
df.groupby(['modelname','variamt','state','owner'])['meter'].mean()

modelname  variamt  state    owner
i10        base     Delhi    2        64198.500000
                    surat    1        77496.166667
           sports   Delhi    1        70643.000000
                    haryana  1        77962.833333
                    mumbai   2        77173.833333
i20        era      surat    2        64772.500000
           era+     haryana  1        77932.500000
           sport+   haryana  2        70818.333333
selerio    vd       haryana  2        65400.000000
           vdi      haryana  2        76554.166667
           vxi      mumbai   1        63525.666667
                    surat    2        76874.666667
swift      base     mumbai   1        72860.666667
Name: meter, dtype: float64

In [19]:
df

   modelname variamt  owner  meter    state
0        i10  sports      1  92509    Delhi
1        i20  sport+      2  56066  haryana
2    selerio     vdi      2  88354  haryana
3    selerio     vxi      1  60513   mumbai
4    selerio     vxi      2  85054    surat
5      swift    base      1  66890   mumbai
6        i20     era      2  59039    surat
7        i10  sports      1  86930  haryana
8        i10  sports      2  81643   mumbai
9        i10    base      1  64142    surat
10       i10    base      2  58876    Delhi
11       i20    era+      1  95034  haryana
12   selerio      vd      2  69294  haryana
13       i10  sports      1  55871    Delhi
14       i20  sport+      2  76374  haryana
15   selerio     vdi      2  61268  haryana
16   selerio     vxi      1  84934   mumbai
17   selerio     vxi      2  99752    surat
18     swift    base      1  90476   mumbai
19       i20     era      2  65144    surat
20       i10  sports      1  74101  haryana
21       i10  sports      2  85860   mumbai
22       i10    base      1  90772    surat
23       i10    base      2  99926    Delhi
24       i20    era+      1  84898  haryana
25   selerio      vd      2  51268  haryana
26       i10  sports      1  68081    Delhi
27       i20  sport+      2  54339  haryana
28   selerio     vdi      2  90950  haryana
29   selerio     vxi      1  65259   mumbai
30   selerio     vxi      2  58933    surat
31     swift    base      1  56701   mumbai
32       i20     era      2  51647    surat
33       i10  sports      1  90836  haryana
34       i10  sports      2  71743   mumbai
35       i10    base      1  90872    surat
36       i10    base      2  50852    Delhi
37       i20    era+      1  91773  haryana
38   selerio      vd      2  89201  haryana
39       i10  sports      1  98432    Delhi
40       i20  sport+      2  92511  haryana
41   selerio     vdi      2  90692  haryana
42   selerio     vxi      1  55720   mumbai
43   selerio     vxi      2  78574    surat
44     swift    base      1  85007   mumbai
45       i20     era      2  58734    surat
46       i10  sports      1  55584  haryana
47       i10  sports      2  97883   mumbai
48       i10    base      1  86738    surat
49       i10    base      2  57535    Delhi
50       i20    era+      1  54061  haryana
51   selerio      vd      2  75939  haryana
52       i10  sports      1  54781    Delhi
53       i20  sport+      2  90255  haryana
54   selerio     vdi      2  67867  haryana
55   selerio     vxi      1  58318   mumbai
56   selerio     vxi      2  75736    surat
57     swift    base      1  67668   mumbai
58       i20     era      2  90974    surat
59       i10  sports      1  98156  haryana
60       i10  sports      2  70007   mumbai
61       i10    base      1  65634    surat
62       i10    base      2  56975    Delhi
63       i20    era+      1  89439  haryana
64   selerio      vd      2  54510  haryana
65       i10  sports      1  54184    Delhi
66       i20  sport+      2  55365  haryana
67   selerio     vdi      2  60194  haryana
68   selerio     vxi      1  56410   mumbai
69   selerio     vxi      2  63199    surat
70     swift    base      1  70422   mumbai
71       i20     era      2  63097    surat
72       i10  sports      1  62170  haryana
73       i10  sports      2  55907   mumbai
74       i10    base      1  66819    surat
75       i10    base      2  61027    Delhi
76       i20    era+      1  52390  haryana
77   selerio      vd      2  52188  haryana